body, html {
  margin: 0;
  padding: 0;
}

#navbar {
  width: 100vw; 
  height: 10vh;
  background-color: #B98547;
  margin: 0;
  text-align: center;
}

#options{
  width: 100vw; 
  height: 10vh;
}

#body{ 
  width: 100vw; 
  height: 90vh;
  background: url(../imagenes/plato3.jpeg); 
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  z-index: -1;
  background-image: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), url(../imagenes/plato3.jpeg);
 }

#logonavbar {
  width: 16vw; 
  height: auto;
  margin-left: 0.2%;
  margin: auto;
  display: block;
}

#container {
  width: 30vw; 
  height: 70vh;
  background-color: #B98547;
  margin: auto;
  border: 4px solid #260B01;
  opacity: 1;
}

#head_ini{
  color: #260B01;
  font-family: Montserrat;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#containerform {
  display: flex;
  width: 30vw; 
  height: 50vh;
  justify-content: center;
  align-items: flex-start;
}

#email {
  width: 18vw;
  height: 5vh;
  border: 2px solid #260B01;
  background: #F2E0D5;
  font-size: 150%;
  margin-top: 10%;
  margin-bottom: 2%;
}

#password{
  width: 18vw;
  height: 5vh;
  border: 2px solid #260B01;
  background: #F2E0D5;
  font-size: 150%;
  margin-top: 2%;
  margin-bottom: 2%;
}

#submit {
  width: 15vw;
  height: 5vh;
  border: 2px solid #260B01;
  background: #F2E0D5;
  font-size: 150%;
  margin-top: 10%;
  margin-bottom: 10%;
}

#redireccion{
  color: #260B01;
  font-family: Montserrat;
  font-size: 150%;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#username{
  width: 18vw;
  height: 5vh;
  border: 2px solid #260B01;
  background: #F2E0D5;
  font-size: 150%;
  margin-top: 2%;
  margin-bottom: 2%;
}