<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/login.css">
  <title>The Cooking World</title>
</head>
<body>
  <div id="navbar">
    <div id="options">
      <div id="logo"><img id="logonavbar" src="imagenes/l_hori_osc.png"></div>
    </div>
  </div>
  <div id="body">
    <div id="imgfondo"></div>
    <div id="container">
      <div id="head_ini">Iniciar Sesion</div>
      <div id="containerform ">
        <form id="login-form" action="CompLogin" method="post">
        <input type="text" id="email" name="email" required placeholder="Correo Electronico">
        <br>
        <input type="password" id="password" name="password" required placeholder="Contraseña">
        <br>
        <button type="submit" id="submit">Iniciar Sesión</button>
      </div>
      <br>
      <div id="redireccion">¿No tienes cuenta? <a href="Register">Registrate aquí.</a> </div>
    </div>
  </div>
</body>
</html>